.title{
    font-size: 1.2rem;
    font-weight: 700;
}

.input-field div:nth-child(1){
    border: 1px solid black;
    padding: 5px;
    font-weight: 500;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem 0 0 0.25rem;
}

.input-field div:nth-child(2) input{
    border: 1px solid #ced4da;
    padding: 5px;
    text-indent: 10px;
    border-radius: 0.25rem;
    border-radius: 0 0.25rem 0.25rem 0;
}

::placeholder{
    text-indent: 10px;
    font-size: 0.91rem;
    font-family: monospace;
}

.card{
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%) !important;
}

.card-provide{
    max-width: 680px !important;
}

.info-card{
    width: 35%;
    max-width: 800px;
    padding: 8px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 6px 0 #0000006e;
}

.add-liquidity-button{
    display:block;
    margin-left:auto;
    margin-right: auto;
    outline: none;
    border: none;
    padding: 8px !important;
    width: 155px;
    background-color: rgb(62, 77, 97) !important;
    font-weight: bold !important;
    color: white !important;
}
